<!DOCTYPE html>
<html>
    <head>
        <title>Gobo Tests</title>
        <script src='lib/test-harness.js'></script>
        <style>
        iframe {
            width: 1px;
            height: 1px;
            position: absolute;
            left: -500px;
        }
        .success:before {
            content: "\2713 ";
            color: green;
        }
        .failure:before {
            content: "\2717 ";
            color: red;
        }
        </style>
    </head>
    <body>

        <h1>Tests</h1>
        <ul>
            {{#each suites}}
                <li><a href='{{url}}'>{{suite}}</a>
                    <ul>
                        {{#each tests}}
                            <li>
                                <a test-case
                                    test-suite='{{../suite}}'
                                    href='{{url}}'>
                                    {{test}}
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </li>
            {{/each}}
        </ul>

        <script>
            Harness.start(function (results) {
                window.global_test_results = results;
            });
        </script>
    </body>
</html>
